html,
body {
    height: 100%;
    height: -moz-available;
    height: -webkit-fill-available;
    overflow: hidden;
    font-family: 'Geomanist', sans-serif;
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

*::-webkit-scrollbar {
    width: 0px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
}

#viewerContainer {
    display: block !important;
    overflow: hidden;
    margin: 0 !important;
}

#viewerContainer>img {
    visibility: hidden;
    /* For text canvases */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.loader {
    position: absolute;
    border: 5px solid #f3f3f3;
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: rgb(243, 243, 243);
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-left: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@keyframes spin {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: 610px 0px;
    }
}

@keyframes rotate {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: 610px 0px;
    }
}

@-webkit-keyframes rotate {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: 610px 0px;
    }
}

@-webkit-keyframes pulse {
    0% {
        opacity: 0.3;
    }

    25% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 0.3;
    }

    ;
}

@keyframes pulse {
    0% {
        opacity: 0.3;
    }

    25% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 0.3;
    }

    ;
}

#pulse {
    -webkit-animation: pulse 2s linear infinite;
    animation: pulse 2s linear infinite;
    overflow: hidden;
    pointer-events: none;
}

.container3d {
    height: 100vh;
    width: 100%;
    padding: 0px;
}

.container3d.gradient,
#containerCover {
    background-image:
        radial-gradient(#fff 30%,
            #c7c7c7 90%,
            #a7a7a7);
}

.container3d>canvas {
    opacity: 0;
}

#viewerContainer.fullScreenMobile,
#viewerContainer.fullScreenMobile .interface3d,
#viewerContainer.fullScreenMobile .container3d,
#viewerContainer.fullScreenMobile canvas {
    height: 100% !important;
}

#viewerContainer.fullScreenMobile #fullScreenIcon {
    display: none;
}

#viewerContainer.fullScreenMobile #infoIcon {
    right: 7vw !important;
}

#loader {
    height: 100% !important;
    width: 100% !important;
}

#progress_wheel__container {
    position: absolute;
    min-height: 100px;
    min-width: 100px;
    display: none;
}

#progress_wheel {
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    display: none;
}

#btnLoad {
    display: none;
    font-family: "Arial";
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
    z-index: 2;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.45);
    padding: 9px 10px 6px;
    border-radius: 16px;
}

#btnLoad:not(:active):hover {
    transform: scale(1.2);
}

#label__not-found {
    display: none;
    font-family: "Arial";
    width: 50vw;
    text-align: center;
    line-height: 1.4;
    font-size: 20vh;
}

@media screen and (max-aspect-ratio: 1/1) {
    #label__not-found {
        font-size: 20vw;
    }
}

.cover_contain {
    position: absolute;
    height: 100% !important;
    width: 100% !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center !important;
}

.blur {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

@media (min-aspect-ratio: 16/11) {
    .cover_contain {
        background-size: contain !important;
    }
}

@media (max-aspect-ratio: 12/11) {
    .cover_contain:not(.mobile) {
        display: none !important;
    }
}

@media (min-aspect-ratio: 12/11) {
    .cover_contain.mobile {
        display: none !important;
    }
}

#bottom_logo {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
    position: absolute;
    bottom: 5vh;
    left: 7vw;
    width: 180px;
    padding: 0;
    pointer-events: none;
    z-index: 4;
    display: none;
}

#bottom_bar {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    bottom: 5vh;
    right: 5vh;
    height: 40px;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

.hide {
    display: none !important;
}

.center {
    text-align: center;
}

@media (max-width: 472px) {
    #fullScreenIcon {
        width: 25px !important;
        height: 25px !important;
        bottom: 5vh !important;
        right: 7vw !important;
    }

    #optionsIcon {
        transform: scale(1.5);
        right: 7.5vw !important;
        top: 30px !important;
    }

    #infoIcon {
        display: none !important;
    }
}

#infoCard {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    display: none;
}

#infoCardMobile {
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    display: none;
}

#loader {
    height: 100%;
    width: 100%;
    z-index: 2;
    display: none;
    position: absolute;
    top: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 0px;
}

#pulse {
    max-width: 20%;
    width: 200px;
    margin: auto;
    display: none;
}

.interface3d {
    position: relative;
    height: 100vh;
    width: 100%;
    display: block;
    transition: all .25s ease;
}

.ui-icon {
    height: 100%;
    padding: 10px 10px;
    margin: 0px 20px;
    cursor: pointer;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.ui-icon > img {
    height: 100%;
}

#optionsIcon {
    position: absolute;
    top: 25px;
    right: 6.6vw;
    height: 20px;
    width: 25px;
    cursor: pointer;
}

#optionsIcon:hover {
    stroke: gray;
}

#ui {
    display: none;
}

#ui.hidden {
    display: none !important;
}

#icon3D {
    position: absolute;
    top: 7vw;
    left: 7vw;
    width: 64px;
    pointer-events: none;
}

#ar_message {
    font-size: 20px;
    bottom: 20vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(200, 200, 200, 0.6);
    backdrop-filter: blur(5px);
    padding:20px;
    border-radius:25px;
}

.fadeOut {
    display: none;
}

.btn-option {
    pointer-events: all;
    height: 22px;
    background: #1f2f3e;
    padding: 3px 15px;
    border-radius: 16px;
    margin-bottom: 8px;
    color: white;
    text-transform: capitalize;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

.btn-option:not(:active):not(.active):hover {
    transform: scale(1.1);
}

.btn-option:not(.active) {
    cursor: pointer;
}

.btn-option.color:not(.active) {
    border: 2px solid transparent;
}

.btn-option:not(.color).active {
    background: #aaa;
}

.btn-option.color.active {
    border: 2px solid black;
}

#background-switch {
    display: flex;
    background: #444;
    margin-top: 5px;
    border-radius: 20px;
}

.btn-background {
    flex: 0 0 50%;
    text-align: center;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
    padding: 8px 0 5px;
    font-weight: 400;
}

.btn-background.active {
    background: #aaa;
    border-radius: 20px;
}

.btn-background:not(.active):hover {
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    #background-switch {
        display: block;
        border-radius: 12px;
    }

    .btn-background {
        flex: 0 0 100%;
    }
}

/* Hotspot Functionality */

#container__hotspot {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    width: 200px;
    height: calc(100% - 20px);
    padding: 10px;
    padding-right: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0.1;
    overflow: auto;
    transition: all 1s ease;
}

#container__hotspot.first-load {
    opacity: 1 !important;
}

#container__hotspot:hover {
    opacity: 1;
}

.btn_hotspot {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
    width: 180px;
    padding: 10px 5px;
    cursor: pointer;
    border: 2px solid transparent;
    pointer-events: all;
    margin-bottom: 15px;
    transition: all .25s ease;
    overflow: hidden;
}

.btn_hotspot img {
    width: calc(100% - 20px);
}

.btn_hotspot:not(.active):hover {
    border-color: #bbb;
}

.btn_hotspot.active {
    border-color: #444;
}

.text-thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    min-height: 100px;
    padding: 10px 5px;
    cursor: pointer;
    border: 2px solid transparent;
    pointer-events: all;
    margin-bottom: 15px;
    transition: all .25s ease;
}

.text-thumbnail p {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
}

.text-thumbnail.active {
    border-color: #444;
}

.hotspot_overlay {
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.hotspot_overlay.active {
    opacity: 1;
}

.fading-edge {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 230px;
    height: 80px;
    background: #fff;
    background: linear-gradient(0deg, #fff 0%, #fff 21%, rgba(0, 0, 0, 0) 100%);
    pointer-events: none;
}

.comment-popup-mobile {
    display: none;
}

.comment-popup {
    position: absolute;
    display: flex;
    width: 1px;
    padding: 10px;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #000;
    overflow: hidden;
    transition: width .65s ease, opacity .3s ease;
    pointer-events: none;
}

.comment-popup.top-right {
    top: 30px;
    right: 50px;
}

.comment-popup.top-center {
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.comment-popup.top-left {
    top: 30px;
    left: 230px;
}

.comment-popup.bottom-right {
    bottom: 100px;
    right: 50px;
}

.comment-popup.bottom-center {
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.comment-popup.bottom-left {
    bottom: 100px;
    left: 230px;
}

.comment-popup.center-left {
    top: 50%;
    left: 230px;
    transform: translateY(-50%);
}

.comment-popup.center-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.comment-popup.center-right {
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
}

.comment-popup.active {
    width: 510px;
    opacity: 1;
}

.comment-popup img {
    height: 100px;
    width: 165px;
    object-fit: contain;
    border-right: 1px solid #000;
    margin: auto 0;
    margin-right: 10px;
    padding: 10px;
}

.comment-popup .one-word-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    min-width: 165px;
    border-right: 1px solid #000;
    object-fit: contain;
    margin: auto 0;
    margin-right: 10px;
    padding: 10px;
}

.comment-popup .one-word-thumbnail span {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
}

.comment-popup p {
    min-width: 305px;
    margin: 0;
    padding: 6px 15px 0;
    margin-left: -10px;
    font-size: 14px;
}

#bottom_logo.logo-hotspot {
    left: calc(7vw + 200px);
}

@media screen and (max-width: 950px) {
    *::-webkit-scrollbar {
        height: 0;
    }

    #pulse {
        max-width: 100%;
        width: 150px;
    }

    #container__hotspot {
        display: none;
        flex-direction: row;
        position: absolute;
        overflow-y: hidden;
        overflow-x: auto;
        top: initial;
        bottom: -75px;
        left: 0;
        height: 100px;
        width: calc(100%);
        padding: 10px;
        opacity: 0.1;
        box-sizing: border-box;
    }

    .btn_hotspot {
        min-height: 50px;
        min-width: 110px;
        margin: 0;
        margin-right: 20px;
    }

    .fading-edge {
        position: fixed;
        right: 0;
        bottom: 0;
        left: initial;
        width: 80px;
        height: 110px;
        background: linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 21%, rgba(255, 255, 255, 0) 100%);
    }

    .comment-popup {
        display: none;
    }

    .comment-popup-mobile {
        display: flex;
        position: absolute;
        top: 0px;
        left: -100%;
        width: 100%;
        padding: 10px 20px;
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 10;
        overflow: auto;
        transition: all .5s ease;
        box-sizing: border-box;
        pointer-events: none;
    }

    .comment-popup-mobile.active {
        left: 0;
    }

    .comment-popup-mobile p {
        margin: 0;
        width: calc(100% - 40px);
    }

    .interface3d.mobile-hs-area {
        height: calc(100vh - 90px);
    }

    .text-thumbnail {
        min-height: 60px;
    }

    #bottom_logo {
        width: 120px;
        bottom: 26px;
        left: 15px;
    }

    #bottom_logo.logo-hotspot {
        left: 15px;
    }

    #icon3D {
        position: absolute;
        top: 15px;
        left: 15px;
        width: 50px;
    }
}

@media screen and (max-width: 300px) {
    #bottom_logo {
        width: 80px;
    }

    .ui-icon {
        display: none;
    }
}

@media not all and (min-resolution:.001dpcm) {
    @media {

        fix for mobile browser bars overlapping viewer
        .interface3d.mobile-hs-area {
            height: calc(100% - 70px);
        }
    }
}