:root {
	--color: #37ad9c;
	--factor: 1;
}
#container3D {
	position: absolute;
	height: 100%;
	width: 100%;
}
#render {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
#label {
    padding: 1rem;
    color: #333333;
    position: absolute;
    box-sizing: border-box;
    font-size: 1.5rem;
    top: 0;
    left: 0;
    text-align: left;
    height: calc(var(--factor) * 20vh);
    width: calc(var(--factor) * 20vw);
    overflow: hidden;
}
#ui {
	position: absolute;
	height: 100%;
	width: 100%;
	pointer-events: none;
}
.logo {
	position: absolute;
	top: calc(var(--factor) * 2vw);
	left: calc(var(--factor) * 2vw);
	width: calc(var(--factor) * 13vw);
	height: calc(var(--factor) * 4vw);
	background: url("../assets/images/dual-cell-logo.png") top/contain no-repeat;
}
.sidebar {
	position: absolute;
	top: calc(var(--factor) * 2vw);
	right: calc(var(--factor) * 2vw);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}
.footer {
	position: absolute;
	left: 50%;
	bottom: calc(var(--factor) * 4vw);
	transform: translateX(-50%);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
#close {
	background: url("../assets/images/close-btn.png") top/contain no-repeat;
	width: calc(var(--factor) * 4vw);
	height: calc(var(--factor) * 2.5vw);
}
#view {
	background: url("../assets/images/base-view-btn.png") top/contain no-repeat;
	width: calc(var(--factor) * 4vw);
	height: calc(var(--factor) * 4vw);
	cursor: pointer;
	pointer-events: auto;
}
/*#screen, #subwoofer*/
.btn {
	width: calc(var(--factor) * 21vw);
	border-radius: calc(var(--factor) * 1vw);
	border: solid calc(var(--factor) * .15vw) var(--color);
	padding: calc(var(--factor) * .7vw);
	font-size: calc(var(--factor) * 1vw);
	background-color: white;
	color: var(--color);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	cursor: pointer;
	pointer-events: auto;
}
#screen {
	margin: 0 calc(var(--factor) * 7vw) 0 0;
}
.icon {
	width: calc(var(--factor) * 5vw);
	background-color: var(--color);
	margin-right: calc(var(--factor) * .7vw);
}
.text {
	padding: calc(var(--factor) * .2vw) 0;
	align-self: center;
}
#screen .icon {
	background: url("../assets/images/x2-icon.png") center/contain no-repeat;
}
#subwoofer .icon {
	background: url("../assets/images/sub-icon.png") center/contain no-repeat;
}

@media screen and (max-width: 1600px) {
	:root { --factor: 1; }
}
@media screen and (max-width: 1400px) {
	:root { --factor: 1.2; }
}
@media screen and (max-width: 1200px) {
	:root { --factor: 1.4; }
}
@media screen and (max-width: 1000px) {
	:root { --factor: 1.7; }
}
@media screen and (max-width: 800px) {
	:root { --factor: 2.0; 	}
	.footer { flex-direction: column; }
	#screen { margin: 0 0 calc(var(--factor) * 1vw) 0; }
}
@media screen and (max-width: 700px) {
	:root { --factor: 2.25; }
}
@media screen and (max-width: 600px) {
	:root { --factor: 2.5; }
}
@media screen and (max-width: 500px) {
	:root { --factor: 2.75; }
}
@media screen and (max-width: 400px) {
	:root { --factor: 3.0; }
}
@media screen and (max-width: 300px) {
	:root { --factor: 3.5; }
}
